<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Profiles</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
<link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <h1>User Profiles</h1>
    <ul class="users">
        <% for(let i=0; i < info.length; i++) {%>
        <li class="user">
            <span class="Name"><%= info[i].name %>&nbsp;&nbsp;</span>
            <span class="Age"><%= info[i].age %>&nbsp;&nbsp;</span>
            <span class="State"><%= info[i].state %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <i class="fa-solid fa-trash-can"></i>
        </li> <%} %> 
    </ul>

    <h2>Add a Profile:</h2>

    <div class='user-input' id='addProfile'>
        <label for="input-name">Name:</label><br>
        <input type="text" placeholder="Name" id='fName' name="name" /><br>
        <label for="Age">Age:</label><br>
        <input type="text" placeholder="Age" id='years' name="age" /><br>
        <label for="State">State:</label><br>
        <input type="text" placeholder="State" id='location' name="state" /><br><br>
        <input type="submit" class='button' value="Add Profile" onclick="addProfile();" />
    </div>


</body>

<script src='/public/main.js'></script>

</html>
