<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Profiles</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
<link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <h1>User Profiles</h1>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>State</th>
                    <th>Delete</th>
                    <th>Select<br>All<br><input type="checkbox" id="selectAll">
                    </th>
                </tr>
            </thead>
        </table>
        <ul class="list">
            <% for(let i=0; i < info.length; i++) {%>
                <li class="profiles">
                    <span class="Name"><%= info[i].name %></span>
                    <span class="Age"><%= info[i].age %></span>
                    <span class="State"><%= info[i].state %></span>
                    <i class="fa-solid fa-trash-can"></i>
                    <input type="checkbox" class="deleteBox" id="Selection">
                </li>
                <% } %>
        </ul><br>
        <span class="deletionButton">
        <input type="submit" class='DelButton' value="Delete Selected" onclick="deleteSelected();">
        </span>
    </div>

    <h2>Add a Profile:</h2>

    <div class='user-input' id='addProfile'>
        <label for="input-name">Name:</label><br>
        <input type="text" placeholder="Name" id='fName' name="name"><br>
        <label for="Age">Age:</label><br>
        <input type="text" placeholder="Age" id='years' name="age"><br>
        <label for="State">State:</label><br>
        <input type="text" placeholder="State" id='location' name="state"><br><br>
        <input type="submit" class='button' value="Add Profile" onclick="addProfile();">
    </div>


</body>

<script src='/public/main.js'></script>

</html>
