ul {
    list-style-type: none;
}
.button {
    width: 82px;
    height:22px;
    border-radius: 2px;
    font-size: 12px;
    margin-top: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #050505;
}

.button:hover {
    border: none;
    cursor: pointer;
    background: #6f6f70;
    color: white;
}

.DelButton {
    width: 120px;
    height:22px;
    border-radius: 2px;
    font-size: 12px;
    margin-left: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #050505;
}

.DelButton:hover {
    border: none;
    cursor: pointer;
    background: #6f6f70;
    color: white;
}
