h1{
    font-family: 'Roboto Condensed', sans-serif;
}
h2{
    font-family: 'Roboto Condensed', sans-serif;
}
.user-input{
    font-family: 'Roboto Condensed', sans-serif;
}
#addProfile{
    display:block;
}
#editProfile {
    display: none;
}
.container{
    display: grid;
    width: 40%;
}
tr {
    display: grid;
    grid-template-columns: .66fr .37fr .5fr .8fr .476fr;
    justify-items: start;
    align-items: center;
}
.profiles {
    display: grid;
    grid-template-columns: 1fr .5fr .8fr 0.4fr .5fr .8fr;
    justify-items: stretch;
    align-items: center;
}

.button:hover {
    border: none;
    cursor: pointer;
    background: #6f6f70;
    color: white;
}
.button {
    width: 82px;
    height:22px;
    border-radius: 2px;
    font-size: 12px;
    margin-top: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #050505;
}
.deletionButton {
    display: grid;
    justify-content: end;
}

.DelButton {
    width: 120px;
    height:22px;
    border-radius: 2px;
    font-size: 12px;
    margin-right: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #050505;
}

.DelButton:hover {
    border: none;
    cursor: pointer;
    background: #6f6f70;
    color: white;
}



/* .button {
    width: 82px;
    height:22px;
    border-radius: 2px;
    font-size: 12px;
    margin-top: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #050505;
}
.deletionButton {
    display: grid;
    justify-content: end;
}

.DelButton {
    width: 120px;
    height:22px;
    border-radius: 2px;
    font-size: 12px;
    margin-right: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #050505;
}

.DelButton:hover {
    border: none;
    cursor: pointer;
    background: #6f6f70;
    color: white;
} */